.advantages {
  background-color: var(--background-color);

  padding-top: 120px;
  position: relative;
  &::after {
    content: "";
    width: 100vw;
    position: absolute;
    width: 100vw;
    height: 400px;
    background-image: url("../images/background-white.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    bottom: 0;
  }
  &__card-text {
    @include card-text;
    padding-left: 44px;
  }
  &__card-head {
    @include card-head;
    padding-left: 44px;
  }
  &__card {
    width: 280px;
    height: 164px;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    background-color: var(--text-color);
    box-shadow: 7px 10px 50px rgba(232, 226, 240, 1);
    gap: 8px;
    &::before {
      content: "";
      width: 164px;
      height: 5px;
      position: absolute;
      left: -82px;
      top: 50%;
      background-image: linear-gradient(
        to right,
        rgba(0, 181, 208, 1),
        rgba(92, 14, 98, 1)
      );
      transform: rotate(90deg);
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }
    &::after {
      content: url("../images/accessibility-outline-1.svg");
      position: absolute;
      top: 15px;
      left: 40px;
    }
  }
  &__list {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    @include tablet {
      flex-direction: column;
      align-items: center;
    }
  }
  &__flex-item {
    z-index: 100;
    &:last-child {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 8px;
      color: var(--transparent-accent-color);
      span {
        color: var(--accent-color);
      }
      max-width: 400px;
      p {
        font-weight: 700;
      }
      a {
        color: var(--accent-color);
        font-size: 18px;
        font-weight: 800;
        position: relative;
        &::after {
          content: url("../images/icon.svg");
          position: absolute;
          left: 120px;
          top: 1px;
        }
      }
      &::after {
        content: url("../images/decoration.svg");
        position: absolute;
        z-index: -100;
        left: -65px;
        top: -25px;
      }
    }
    &:first-child {
      margin-top: 240px;
    }
    &:nth-child(2) {
      margin-top: 120px;
    }
    &:nth-child(2),
    &:first-child {
      display: flex;
      flex-direction: column;
      gap: 32px;
      @include tablet {
        display: none;
      }
    }
  }

  &__image {
    margin: 0 auto;
    max-width: 80%;
    display: none;
    @include tablet {
      display: flex;
    }
  }
}
