:root {
  --background-color: #f7f3fa;
  --text-color: #ffffff;
  --transparent-accent-color: #857885;
  --accent-color: #5c0e62;
  --secondary-color: #ffbc51;
  --section-heading-color: #e23434;
  --heading-button-background: #798ac9;
  --card-head-color: #5c5e6e;
  --card-text-color: #756f6f;
  --button-border-radius: 4px;
  --section-border-radius: 10px;
  --wrapper-width: 1164px;
  --footer-bg: #210933;
}
